

/* # Base Typography
================================================== */

// Font Smoothing
html{
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		letter-spacing:-1px;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 120px;}


p{

    font-size:20px;
    line-height:34px;
}
